{% extends 'abase.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-body p-5">
                    <h1 class="card-title text-center mb-4">Edit Category</h1>
                    <form method="post" action="{% url 'e_category' catg.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="npcatgr" value="{{catg.c_category}}" class="form-control" placeholder="Movie Category" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success mt-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% comment %} {% extends 'abase.html' %}
{% block content %}
<h1><center>Edit Category </center></h1>
    <div class ="container">
    <form method="post" action="{% url 'e_category' catg.id %}">
    {% csrf_token %}
    <input type="text" name="npcatgr" value="{{catg.c_category}}" class="form-control mt-3" placeholder="movie Category"><br>
    <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
</div>
{% endblock %}
 {% endcomment %}

 