{% extends 'abase.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title text-center mb-0">Welcome Admin</h1>
                </div>
                <div class="card-body">
                    <p class="lead text-center">You are logged in as an admin.</p>
                    <!-- Add any additional content or functionality here -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% comment %} {% extends 'abase.html' %}
{% block content %}
<h1><center>Welcome Admin</center></h1>
{% endblock %} {% endcomment %}
